
h2 {
        padding-top: 10px;
        width: 100%;
        height: 10vh;
        background-color: red;
        text-align: center;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
}


// Main section

main {
    color: white;
    display: flex;

    section {
        width: 80vw;
        height: 100vh - 10vh;
        p {
            height: 30vh;
            padding: 40px;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            color: black;
            background-color: gray;
            
            &:first-child {
                opacity: 0.9; // I only wanted to check opacity property
            }

            &:nth-child(2) {
                opacity: 0.5;
            }

            &:last-child {
                opacity: 0.2;
            }
        
        }
    }
}